[2020-10-28 05:38] dxcore35 opened #1 "Installation process missing"
The most important tutorial how to install it is missing...

[2020-10-28 05:50] mrjackphil commented on #1
Done :)

[2020-10-28 05:50] #1 closed

[2020-11-04 15:25] inputsh opened #2 "Hiding the .md extension"
Nice plugin!

It'd be nice if `.md` extension at the end of the file name would be removed. Currently if I do something like `{{tag:#example}}`, and then run the plugin, I'd get something like:

[code]

The `.md` kinda just seems redundant, and opposed to how Obsidian autofills links to other files.

[2020-11-09 12:09] dariuszkowalski-com opened #3 "List of links to line which match a pattern"
I have found this plugin as a very useful tool.

During a day I am adding tags to notes which I like to discuss with someone else
Before a meeting, I just filter out them all.

Now I have got a list of files where I have noted something.

Usually, I pass through that files and add a link to a paragraph by using `^` char and selecting a line with appropriate information.

It would be nice to have i

[2020-11-10 09:51] mrjackphil commented on #3
@dariuszkowalski-com Hi, added template feature lately. Please tell if it can help you with your workflow,

[2020-11-10 09:53] mrjackphil commented on #2
@inputsh Hi, should be fixed in new version. Also, you can check template feature if you'll ever will need an extension in your file list :)

[2020-11-10 15:19] pranavdeshai opened #4 "Better plugin info"
This plugin proved to be a very handy tool for me, been using it a lot.

The templates feature in the plugin are really useful

However, I think the plugin info needs some more info and instructions on how to use these template features.

Thanks in advance.

[2020-11-10 16:03] mrjackphil commented on #4
@pranavdeshai23 Can you explain how it can be improved? I'm not experienced enough with documentation creation, so it could be useful to hear what problems you faced.

[2020-11-10 18:38] mrjackphil commented on #4
Try latest release 0.5.1, should fix some issues.

[2020-11-10 19:47] inputsh commented on #2
Works flawlessly! Thanks!

[2020-11-10 19:47] #2 closed

[2020-11-12 06:42] athiwatc opened #5 "Templating feature will not work if the block is on the first line"
If I have ````expander` on the first line of the document. Non of the templating feature will work.

[2020-11-12 14:51] mafsi opened #6 "No more list type?"
Does the new version removed the ability to have results as list? I see only one command pressing CTRL+P . I remember more.

[2020-11-12 16:25] mrjackphil commented on #6
Now you can use template feature to do the list.

[code]

[2020-11-12 17:15] mrjackphil commented on #4
I just updated README. Is it more clear now how to use template feature?

[2020-11-12 18:03] pranavdeshai23 commented on #4
Cool. Thanks a lot for the update, really a huge time-saver for me. The README is clear now. My inability to understand the instructions before is probably also because of the plugin not working before, but it is working fine now.
However, just wanted to know what the number replacing the `$created` indicates?
Really looking forward to future updates and other plugins.

[2020-11-12 19:09] mafsi commented on #6
Not working at all
I took this from info page and replace expander with my text.
Going back 2 versions. Sorry!
[code]

![expander](https://user-images.githubusercontent.com/61430691/98984594-14ef9880-252b-11eb-89ff-d22b02618fca.png)

[2020-11-12 20:26] mrjackphil commented on #6
There is a typo. I'll fix it soon.

[code]

should do the trick

[2020-11-13 01:21] NomarCub opened #7 "Command to expand all blocks globally"
It would be nice to only issue one command to update all existing expand blocks in all files.
You could maintain all indexes and whatnot this way.
Maybe even expose it in a way so that other plugins can use it, for example to update all expand blocks before a git commit.

[2020-11-13 19:59] dariuszkowalski-com commented on #7
+1

[2020-11-13 20:02] dariuszkowalski-com opened #8 "Command to expand all {{search}} in the file"
I would like to have a command (assignable to a short key) which will expand all places in an opened file at once.

[2020-11-14 11:08] dariuszkowalski-com opened #9 "Removing formating when search tag is at the beginning of a file"
When I put a filter with formating at the beginning of a file e.g:

[code]

after run it is  changed to:
[code]

it means that all formatings are deleted.  `- [[$filename]]`  is removed

This is a bug - version 0.5.1

[2020-11-14 11:10] dariuszkowalski-com commented on #5
I have got the same bug.

When I put a filter with formating at the beginning of a file e.g:

[code]

after run it is  changed to:
[code]

it means that all formatings are deleted.  `- [[$filename]]`  is removed

This is a bug - version 0.5.1

[2020-11-14 11:10] #9 closed

[2020-11-14 11:10] dariuszkowalski-com commented on #9
Dublicate

[2020-11-14 15:52] agathauy opened #10 "Expansion is inconsistent, sometimes it loads, sometimes it doesn't. Sometimes there are duplicates."
I noticed that Expander can be a bit inconsistent. (Kudos btw for this plugin!)
1. It won't work if there are two expanders in the same file.
2. Sometimes even if it's just alone in the file, one would have to delete the entire thing and rerun the expand trigger.
3. It tends to output duplicates. Also duplicating the ending "---" that it outputs. It also dupilcated my usual note template footer wh

[2020-11-15 14:08] mrjackphil commented on #10
Thanks for feedback. I definitely should work on stability for next release.

[2020-11-16 08:39] HEmile commented on #8
+1 on this. I have a template with 6 searches, would be great if I could run these in sequence.

[2020-11-16 08:40] HEmile commented on #7
Probably hard to do this right now, as the plugin relies on the search functionality to run everything.

[2020-11-16 12:05] giulianofiorotto opened #11 "Feature Merge: Parent Name and File Path"
Hi,

i've implemented myself two new command: $path and $parent because i had the necessity of displaying the name of the folder that contains my note;

My current organization is:
[Project name]
 - Note 1

With my implementation i can display
|Folder|Link|
|-------|----|
|$parent| $filename |

and i get

|Folder|Link|
|-------|----|
|Project 1|[[note 1]]|

If you are intrested of merging my code

[2020-11-16 13:45] mrjackphil commented on #11
Sure, thanks! Just do a pull request, I'll check when will have just a little bit more time and will merge it.

[2020-11-16 14:01] mrjackphil commented on #7
@HEmile is right. And I'm afraid it's a little bit out of the scope right now... Expander a little inconsistent right now, so expanding all files can make a lot of harm.

Maybe I'll add something expanding for all opened files (or even for all files) but it'll be not earlier than expanding all blocks in a single file.

[2020-11-17 06:45] mrjackphil commented on #11
Now available in [latest release](https://github.com/mrjackphil/obsidian-text-expand/releases/latest)

[2020-11-17 06:45] #11 closed

[2020-11-17 06:45] mrjackphil commented on #5
Should be fixed in 0.5.2

[2020-11-17 06:46] #5 closed

[2020-11-18 11:01] dariuszkowalski-com commented on #3
To visualize what I am think. There is a image:

![image](https://user-images.githubusercontent.com/37656900/99520089-f8bc8300-2992-11eb-9390-4f00002757b7.png)

After a search Obsidian show exacly a list of all places were pattern match.

I Would like to get list of links to this items

[[ LINK TO A FILE^line of existens of pattern ]]

[2020-11-21 11:37] autonomygaps commented on #4
I think that part of the problem is the **name** of the plug-in.
If it were `Paste search results for {{text}} as links` it would be MUCH clearer.
The current name reminds me of TextExpander, which is for abbreviations for snippets of text.

[2020-11-21 12:00] mrjackphil commented on #4
@autonomygaps But it's misleading because it's just one of the functionality. You can build a table with only file content without links, as example.

[2020-11-21 12:20] autonomygaps opened #13 "Feature Request: Links to heading or Block"
It would be great to have the option of linking to the headings in which the search terms occur (`[[Title words#Heading words]]`, or the “blocks” in which they occur `[[Title words^blockcode]]`.

[2020-11-21 12:32] mrjackphil commented on #3
@dariuszkowalski-com So making a special sequence something like $found which should return a found text should do the trick, right?

So with template feature we could do
[code]

[2020-11-21 12:35] mrjackphil commented on #13
@autonomygaps

Could you add more examples of how it can work?

[2020-11-22 16:19] dariuszkowalski-com commented on #3
it could return a paragraph where pattern was found. I can then add

`![[$filename^$found]] `

and get a content. In my case it will be set of lines with a tasks which I put accross my files / daily notes / contact reports or other  files:

[code]

[2020-11-26 09:39] 1orZero opened #14 "Is the text-expand plugin works with the lastest version?"
![image](https://user-images.githubusercontent.com/53516684/100333955-2302e600-300e-11eb-8fc8-ebd4d919dff5.png)
![image](https://user-images.githubusercontent.com/53516684/100334070-43cb3b80-300e-11eb-95dc-9bad82b66493.png)

I opened the command panel and use the command but nothing is happening

[2020-11-26 13:29] mrjackphil commented on #14
Looks like not. Looking for issue.

[2020-11-26 20:17] mrjackphil commented on #14
Should be fixed in 0.6.0

[2020-11-26 20:17] #14 closed

[2020-11-27 00:20] 1orZero commented on #14
Thanks for fixing it! Will try it today❤️

[2020-11-27 08:47] empik-foto-it opened #15 "Obsidian 0.9.19"
This plugin doesn't work in new Obsidian 0,9.19.
It runs search but does not copy links to a document.

[2020-11-29 04:51] mrjackphil commented on #15
Can't reproduce the error. Could you provide more info about the issue?
- Is there any errors in Developer's Console?
- Is it happens every time or for specific cases?
- If it's still not work for you, you can send me a little zip with minimal vault so I can reproduce the error.

[2020-12-01 16:33] raineszm commented on #15
I'm having this same issue. I get the following error in the console when I try to use the Text {{expand}} command
[code]

[2020-12-07 09:27] psyguy opened #16 "Inserting backlinks to the noter"
Hi Jack,

Is it possible to use the expander to include a list of notes linking to the note?

I have [asked about it](https://forum.obsidian.md/t/add-a-auto-updating-list-of-linked-mentions-in-a-given-note/5875?u=psyguy) on the forum a couple of months ago, and it has been implemented in Obsidian Publish (`LINKS TO THIS PAGE` section under notes, e.g., [here](https://publish.obsidian.md/mobydictio

[2020-12-07 20:43] psyguy commented on #16
Thank you.

That workaround requires typing the note's name manually. I was thinking of using espanso together with this plugin, or adding it to a template.

BTW, By separate, do you mean a feature for this plugin or a plugin on its own?

[2020-12-08 08:52] mrjackphil commented on #16
As a feature for this plugin. Like sequences instead of search requests `{{$backlinks}}` but it's not fully thought out.

[2020-12-08 13:53] psy667 commented on #15
Same issue on 0.9.20

[2020-12-08 17:29] mrjackphil commented on #15
@empik-foto-it @raineszm @psy667 Can't reproduce the error on 0.9.19-20. You can try version 0.6.1 and check is an error still there.

If it's still not work for you, you can send me a little zip with minimal vault so I can reproduce the error

[2020-12-15 13:37] McOussKing commented on #13
@mrjackphil

I think it would be great to search for all tasks using "- [ ]" and link them, or all blocks with a specific tag (#TW for To write, or #today to review, or some kind of tags to implement spaced repetition). I also like to give some blocks an ID following zettelkasten form (20201215143449) to keep track of when they were created, so it would be great to link all blocks created on 20201

[2020-12-17 04:16] zgagnon opened #18 "Table template not producing table output"
In a code block, I enter this template:

[code]

I then activate Text expand, and my output looks like this:

[code]

These are the correct values (file name and extension), but definitely not the table I expected.

Text Expand version 0.6.2
Obsidian Version 0.9.20

[2020-12-28 16:29] mrjackphil commented on #18
@jcangas Did a pull request which can help you with this issue.
Try version 0.6.4

[2021-01-04 14:50] #18 closed

[2021-01-06 15:15] santiyounger opened #22 "Bug for vim Keybindings"
Hey thanks for the awesome plugin. I really enjoy it, but unfortunatly there's a strange bug with vim-mode that doesn't allow me to update searches.

## Example:

I have a search such as this one

![image](https://user-images.githubusercontent.com/51902730/103784578-1e1b5400-5008-11eb-9b47-101bff95ebce.png)

After bringing command pallette > Text expand...

I get this correctly...

![image](https:

[2021-01-08 14:12] inputsh opened #23 "Return back to File Manager after adding links"
Love this plugin!

One slight annoyance I have with it is that after it adds links, my left pane remains on now somewhat useless search results.

Would be nice if the plugin returned to file manager at the end of execution, possibly via opt-in preference.

[2021-01-21 01:13] Quorafind opened #24 "Feature Request: Copy Line That In Search Results"
For example:

I have a line("One apple a day") contains "one", I use {{one}} to trigger text {{expand}}. And then it will output the line of "one"

[code]

[2021-01-23 14:39] mrjackphil commented on #22
@santiyounger Yes, I know this bug. It happens because CodeMirror in Vim mode thinks what current line is above the cursor.

Another workaround for now is to trigger expander one line below the content.

Once, I’ll put my hand on refactoring this plugin I’ll definitely will try to fix this one because I’m using Vim mode myself :)

[2021-01-23 17:50] santiyounger commented on #22
Awesome @mrjackphil  thanks for the amazing work with this plugin. That workaround is a great way to solve this for now thanks!

Looking forward to see more of your great work with Obsidian

Thanks!

[2021-01-25 13:46] SkepticMystic opened #25 "Searches include the content of other `Expander` queries in their results"
I use this plugin to list all notes with a given tag in their content.

For example, one note might look like this:

## Note 1

[code]

[[Note 2]]
[[Note 3]]

___
**End of Note**

See how this note does not have the tag #Tag1 like it would normally be used (Only in the search query). But if, in another note, I have the same search query:

[code]
The results will include Note 1 because it does have

[2021-01-25 14:32] mrjackphil commented on #25
@SkepticMystic I believe what `tag: #Tag1` should exclude all tags inside of code blocks
Your example shows `tags: #Tag1` with additional **S** letter.

[2021-01-25 14:36] SkepticMystic commented on #25
I see, that works! Thank you answering so quickly

[2021-01-25 14:36] #25 closed

[2021-01-25 15:13] #15 closed

[2021-01-29 14:08] zhl111 opened #26 "Don't understand how the templates are loaded"
I don't know how to run

[2021-01-29 18:44] mrjackphil commented on #26
@zhl111 Hi! Glad to see you here!
Can you explain a little bit more what you tried to do and want you want to achieve?

- You can write a code block
[code]
[code]

[2021-02-25 02:58] lishid opened #27 "Code review"
https://github.com/mrjackphil/obsidian-text-expand/blob/cab03f24bc269bbbb1e5441e6bc35259a2b22b3a/main.ts#L166

Please don't use `cachedData`. This is an internal API that is sometimes null or undefined.

[2021-02-25 06:05] mrjackphil commented on #26
Closing due inactivity

[2021-02-25 06:05] #26 closed

[2021-02-25 06:06] mrjackphil commented on #22
@santiyounger Should be fixed in v0.7.0. Feel free to reopen the issue if there any problems with it.

[2021-02-25 06:07] mrjackphil commented on #10
@agathauy Release v0.7.0 has significantly improved the stability of the expander behavior. Feel free to reopen the issue if you have can recreate the issues above.

[2021-02-25 06:07] #10 closed

[2021-02-25 06:09] mrjackphil commented on #6
@mafsi Latest release (0.7.0) added the ability to set up a default template (which is a list now) and behavior stability was improved. Feel free to reopen the issue (or create another) if you have any problems with it.

[2021-02-25 06:09] #6 closed

[2021-02-25 06:12] mrjackphil commented on #27
@lishid

Yep, didn't change it here, yet.
Is there a way to quickly read the content of the file without reading the file itself? I'm afraid what accessing the file system for many files will be a little bit performance consuming.

[2021-02-25 06:42] lishid commented on #27
The only way to do that is to use `vault.cachedRead(file)`, which might still read the file from disk if it hasn't been read before.
That's the API we use for search, backlinks, etc, so it should have quite an overlap (i.e. reading most files) for your use case to be fast enough.

[2021-02-25 16:45] santiyounger commented on #22
Hey thanks a lot for working on this.

Unfortunatly I'm still having troubles with it

Here is a screenshot of the error (only the first one seems to be relevant to text expander)

I'll look into the other errors it could be a conflcit with other plugins
![image](https://user-images.githubusercontent.com/51902730/109186225-b3141100-775e-11eb-8059-db605d8182d5.png)

Here's the log of the console as

[2021-02-25 18:35] mrjackphil commented on #22
@santiyounger Thanks for the feedback. The latest 0.7.1 release should fix this error.

I want to point out what this error was caused by not finding queries on the page. The default behavior of the text expander was changed.

Now you should manually wrap search query without curly brackets by `expander` code block:
[code]
[code]

[2021-02-25 21:51] santiyounger commented on #22
Thanks a lot for all the hard work to fix this. It works perfect now!

Really appreciate it, it's an amazing plugin and the issues with vim where the only thing stopping me from using it more. Now I'll be using it all the time!

Thanks a lot!

[2021-02-25 21:51] #22 closed

[2021-02-26 11:05] Domas-Vaitmonas commented on #13
I second this. Would be reaaaally great.

[2021-03-05 20:03] jcangas opened #28 "render template fail due to "replace undefined error""

[2021-03-10 12:41] mrjackphil commented on #28
Thanks, @jcangas. Merged and published as part of the 0.7.2 release.

[2021-03-18 19:53] ProbablePrime opened #30 "Extra New Lines in template output"
The current template parsing logic appears to add extra, unwanted new lines to the output.

You can see this occurring here: https://i.probableprime.co.uk/210318-4RbgHzo5XwaEwNOmfw9R.mp4

I had a look through the code and it appears too man \n's are being added: https://github.com/mrjackphil/obsidian-text-expand/blob/master/main.ts#L116-L126

In the highlighed lines, each item is first formatted w

[2021-03-19 11:54] mrjackphil commented on #30
It seems I overlooked this one. Will fix this as soon as will be available.

[2021-04-03 04:48] mafsi opened #31 "Highlight search query"
Hi,
In
[code]

Can we get query hightlighted? (`==SEARCH_QUERY==`)  It is easier to spot. Thanks!

[2021-04-05 07:05] mrjackphil commented on #30
Should be fixed in the 0.7.3 plugin release.

[2021-04-05 07:05] #30 closed

[2021-04-05 07:13] mrjackphil commented on #31
Hi, @mafsi.

We can use a custom CSS snippet to achieve that in preview mode. It'll be a little bit more challenging to achieve the same in source mode.

[code]

[2021-04-05 07:16] mafsi commented on #31
I'm illiterate in .css. If I copy your code and save it as .css in snippets will work?

[2021-04-05 07:23] mafsi commented on #31
If I copy your code and put in snippets will work?

[2021-04-05 07:57] denchuku commented on #30
Thanks a lot!

[2021-04-05 08:15] denchuku opened #32 "Feature Request: Ignore Frontmatter and empty line for $lines-sequence"
### Background
I often use text-expand to create TOC lists:

[code]

This produces a list as expected:

[code]

### Issue when including content
What I would like to have is some sort of summary by including the first few letters / the first line to the list so that it renders like this:

[code]
Assume this for generating it:

[code]
This currently produces the following output:

[code]

The reaso

[2021-04-05 08:16] mrjackphil commented on #31
@mafsi It should work in preview mode.

[2021-04-05 08:22] mrjackphil commented on #32
Good catch. It's definitely should be fixed.

[2021-04-05 08:34] mrjackphil commented on #31
@mafsi Sorry for the confusion. I've tested it with a custom theme but not tested the snippet with no custom themes. Fixed the snippet above.

[2021-04-05 08:43] mafsi commented on #31
I think I didn't make myself clear. I want to words in results to be highlighted

[2021-04-05 08:53] mrjackphil commented on #31
Oh, sorry. Misunderstood. That's a tricky one.

I'll think about how to make this plugin more flexible to have an ability do things like this.

[2021-04-06 06:26] lwb52 opened #33 "error in plugin descriptor"
Title/Descriptor of plugin reads:
”link…in founded files”—
should be ”link…in found files” or maybe ”located files”
Thanks :^)

[2021-04-06 07:39] mrjackphil commented on #33
Thanks! English is not my native language so sometimes I do silly mistakes 😄

[2021-04-06 14:56] mrjackphil commented on #33
Fixed in the latest release. Thanks, @lwb52!

[2021-04-06 14:56] #33 closed

[2021-04-06 14:56] mrjackphil commented on #32
@denchuku Should be fixed in the latest release. Thanks for the request!

[2021-04-06 14:56] #32 closed

[2021-04-06 16:14] denchuku opened #34 "Characters after $lines:1 remove $lines:1-content"
Version: 0.7.4
(Not sure if this resulted from the changes of https://github.com/mrjackphil/obsidian-text-expand/issues/32 )

### What works

[code]

Produces:
[code]

### What doesn't work
Having characters after "$lines:1"...:

[code]
Produces:
[code]

Expected:
[code]

[2021-04-06 16:15] denchuku commented on #32
Wow, that was fast! Thanks!
It is working like a charm!

FYI: I discovered a bug and made a new issue for that - hope that is okay: https://github.com/mrjackphil/obsidian-text-expand/issues/34

[2021-04-06 16:31] denchuku commented on #34
This works:
[code]
-> "$lines:1" is rendered in output

This doesn't work:
[code]
-> "$lines:1" is not rendered in output

So it's not just characters after "lines:1" but also in other cases...

[2021-04-06 17:39] lwb52 commented on #33
NO WORRIES—just blessings for your hard work🙏🏻👍🏻

Sent from ProPad

[2021-04-06 18:30] mrjackphil commented on #34
Thanks, @denchuku. Should be fixed in the latest 0.7.5 release.

[2021-04-06 18:30] #34 closed

[2021-04-06 18:31] mrjackphil commented on #8
@dariuszkowalski-com @HEmile I'm late to the party, guys. But I just added this functionality for the 0.7.5 release.

[2021-04-06 18:31] #8 closed

[2021-04-06 18:33] mrjackphil commented on #7
@NomarCub I think expanding all existing expand blocks are a little bit out of scope. But I just added "Expand all in file" functionality. I hope it helps. Feel free to reopen the issue if someone has ideas on how can we handle this.

[2021-04-06 18:33] #7 closed

[2021-04-06 18:50] mrjackphil commented on #24
@Quorafind Hi. What if there are several lines that contain that text? Would you expect to show all search results in a document?

[2021-04-06 23:39] Quorafind commented on #24
@mrjackphil it would be nice that have an similar option like $matchline,  and the $matchline:10 will give us the first 10 match lines.

[2021-04-07 19:48] denchuku commented on #34
Perfect! That's great!

[2021-04-08 08:32] mrjackphil commented on #23
@inputsh Should be fine from 0.8.0 release

[2021-04-08 08:32] #23 closed

[2021-04-08 08:34] mrjackphil commented on #13
Not exactly the same thing but added `$header` and `$blocks` sequences which can help in some cases. About extraction of the search content - I'll work on that next.

[2021-04-08 20:53] muness opened #35 "$header:### HEADER special sequence not working"
I can't get the `$header:<...>` special sequence working.

To reproduce, I created a `hello world` file:

[code]

The expander script:

[code]

The result was

[code]

I tried several other permutations without any luck.

[2021-04-09 08:15] Quorafind opened #36 "Update Error"
It seems like the update URL should contain `v0.8.1` rather than `0.8.1`

[2021-04-09 08:15] mrjackphil commented on #35
@muness Should be fixed in latest release.
Feel free to reopen the issue if it still happened.

[2021-04-09 08:15] #35 closed

[2021-04-09 08:17] mrjackphil commented on #36
@Quorafind Try to update to the latest 0.8.3 release, please. I accidentally created an empty tag without files.

[2021-04-09 08:24] Quorafind commented on #36
@mrjackphil cannot download now, I would wait 3 hours to see if I could update the plugin to 0.8.2

[2021-04-09 13:13] muness opened #37 "[BUG] Update failing to install"
I was trying to test the latest release to get the fix for #35 but I am getting an error when updating through the UI:

[code]

![image](https://user-images.githubusercontent.com/931/114185520-d14f5e00-9913-11eb-9156-ce06091b176b.png)

I checked https://github.com/mrjackphil/obsidian-text-expand/releases/download/0.8.1/manifest.json and it indeed returns a 404.

[2021-04-09 13:18] muness commented on #37
I see that you fixed the release in 0.8.2, but something must be pointing to 0.8.1 as the latest. I don't know enough about how Obsidian's plugin framework works to localize the problem further.

[2021-04-09 13:44] mrjackphil commented on #37
@muness Sorry, my mistake. Should work now.

[2021-04-09 13:44] #37 closed

[2021-04-09 13:45] mrjackphil commented on #36
@Quorafind Forgot to do `git push`... Sorry. Should work now.

[2021-04-09 13:45] #36 closed

[2021-04-09 20:29] muness commented on #35
Thanks, confirmed this works now. Note that the syntax indicated in the README, `$header:"## Plugins for Obsidian"` doesn't work, but `$header:## Plugins for Obsidian` does. Maybe update the README?

Also, I [noticed](https://github.com/mrjackphil/obsidian-text-expand/blob/9360dcafebfe922158ca5d00fd5b1309b5436a54/main.ts#L65) that you're returning the line that includes the header for matched rang

[2021-04-10 05:04] mrjackphil commented on #35
@muness Just open a new issue here on GitHub. Thanks.

I'm thinking about redoing some functionality to make it more flexible to use.

[2021-04-30 20:02] mrjackphil commented on #31
@mafsi Now you can extract matches using `$match`
It might help you somehow 😅

[2021-04-30 20:03] mrjackphil commented on #24
Now we can extract the matched text using `$match` sequence. Is it helpful?

[2021-04-30 20:05] mrjackphil commented on #13
@obezzad @Domas-Vaitmonas @autonomygaps Now we can use `$match:header` to include headings that contain results from the search. Will it be helpful?

[2021-04-30 20:08] mrjackphil commented on #3
@dariuszkowalski-com Currently we can extract the matching content using `$match` sequence and heading which has matching content `$match:header`. Would it be helpful?

Also, we can extract block by `$block` sequence so you have tasks like
[code]

it should help you to extract that.

[2021-05-01 01:16] obezzad commented on #13
This looks very interesting.
Would it work for any line or just headings?
I am thinking of the following use case:
$match:"- [x]" for all completed tasks.
$match:"- [ ]" for all remaining ones.

[2021-05-01 02:20] tyf2018 opened #38 "$lines:10，This command does not take effect"
Thank you for developing such a great plugin
"$header:##" , This command works well and is amazing
but  $lines:10，This command does not take effect，I can't find where the problem is。

[2021-05-01 04:15] mrjackphil commented on #13
@obezzad it should work in this way

\```expander
/^- \[ \].+/
$match
[code]

[2021-05-01 04:20] mrjackphil commented on #38
@tyf2018 I'll check it. Thanks.

[2021-05-01 07:15] EhuddR opened #39 "Specify a folder or tag not to be reflected in the query results"
Hi! First of all I have been using text expander since October or November last year and it has been great. I would, however, like to request an enhancement that I think would be very valuable. When we specify a search in expander it reflects all the files that have a specific tag, but, it would be very useful to be able to tell expander; Ok! pull all the files with the tag #foo but not the ones i

[2021-05-01 07:50] mrjackphil commented on #39
@EhuddR Hi! But you already can exclude results using Obsidian's search query

[code]
should file all `#book` files but exclude the Templates folder and

[code]
should find all files with tag `#book` but which doesn't have tag `#read` in it.

It uses standard Obsidian search functionality so you can read more about it [here](https://help.obsidian.md/Plugins/Search)

[2021-05-01 07:53] mrjackphil commented on #38
@tyf2018 Can't reproduce the issue. It returns 10 first lines from each matched file.
Can you share files, screenshots, or set up a small vault example to help me reproduce the issue?

[2021-05-01 14:53] Quorafind commented on #24
Oh, if it is possible to return the line contains the text(or block?) rather than the search query itself?

[2021-05-01 14:57] Quorafind commented on #24
OK, by using regex: `/^(.*)string(.*)\n/`. I finally did it! But it will be nice that make $matchline available 😎

[2021-05-01 21:18] obezzad commented on #13
It works now. Thank you so much @mrjackphil!

[2021-05-02 19:29] EhuddR commented on #39
Ah! thank you very much, I didn't know it worked as well as the search inside obsidian. It would be very valuable to add this information to the plugin documentation.

[2021-05-03 05:00] tyf2018 commented on #38
I recorded a small video, please check it out, thank you

https://user-images.githubusercontent.com/56342788/116842572-88877e00-ac0f-11eb-8566-4bc4232daba8.mp4

[2021-05-03 12:40] mrjackphil commented on #38
@tyf2018 Do you have any errors in console?

[2021-05-04 09:08] #39 closed

[2021-05-05 12:01] tyf2018 commented on #38
I have repeatedly checked and tested more than 20 times, except for $lines, all other commands are working well

[2021-05-09 06:44] alexgeirby opened #40 "Non-ASCII YAML field names in $frontmatter:NAME macro"
Hi

I try to output value of frontmatter parameter named `Категория`, but it doesnt recognized as `\$frontmatter` macro due to `[a-zA-Z0-9_-]+` regexp...

For Russian language changing the regexp to `A-Za-z0-9а-яА-Я_` works for me. But maybe more generic and elegant solution exists?

[2021-05-09 07:02] alexgeirby opened #41 "Feature Request: new special sequences to display file tags"
Hi again.

It would be great to be able to display tag values from a note.
Is it possible to add, for example, two special sequences:
- `$iftag:NAME:STRING1:STRING2` - returns `STRING1` if tag named `NAME` exists in file (as `#NAME` or in frontmatter) or `STRING2` otherwise. If `:STRING2` part is omitted, it equals to empty string;
- `$subtags:NAME` - returns comma-separated subtags of tag `NAME`

[2021-05-09 14:15] calpa commented on #40
Same here, my frontmatter parameter is 地區, which is a chinese name.

[2021-05-11 07:19] mrjackphil commented on #40
Thanks for the issue. I'll check the the current implementation.

[2021-05-12 17:48] #40 closed

[2021-05-12 17:50] mrjackphil commented on #13
If there any suggestions about this topic - please create another issue with feature description.

[2021-05-12 17:50] #13 closed

[2021-05-12 17:52] mrjackphil commented on #3
I think what latest updates can cover this issue. If there any additions - feel free to reopen the issue or create another one.

[2021-05-12 17:52] #3 closed

[2021-05-12 17:54] mrjackphil commented on #31
@mafsi Can we close the issue? Does the `$match` sequence cover your use case?

[2021-05-13 02:43] mafsi commented on #31
Sure. Thank you!

[2021-05-13 04:26] #31 closed

[2021-05-20 19:34] alexgeirby opened #42 "Feature Request: special sequence for file counter"
I would like to ask you to implement a $counter variable that will expand to a file counter in current search

My use case: I have a folder with small files (notes, tasks,...), first line of each file is interpreted as a note title.

With the requested function, I should be able to create a compound document with multi-level numbered headers using something like this:

    # Undone tasks for activ

[2021-06-24 15:37] QuaCKeReD opened #43 "Matching task-todo: cant pull immediate headers"
Trying to pull all task-todo: from a list of files, along with their immediate '#' header values;

code:
[code]
expected output;
`ToDo test 1
[[ToDo test 1#Heading 1]]
- [ ] task under heading 1
- [ ] another task under heading 1
[[ToDo test 1#Heading 2]]
- [ ] task under heading 2
[[ToDo test 1#Heading 3]]
- [ ] task under heading 3`

actual output;
`ToDo test 1
[[ToDo test 1#Heading 1]]
[[ToDo t

[2021-06-25 05:06] mrjackphil commented on #43
@QuaCKeReD thanks for the issue. I'll check when will have some time.

[2021-06-25 05:10] mrjackphil commented on #42
@alexgeirby Thanks for the feature request. Should be easy to implement. Will try to find some time to do this.

[2021-06-29 06:20] trungng2006 opened #44 "$blocks result show up as (result) instead [result]"
I requested the plugin to return block. The link is wrapped with round bracket instead of square bracket.
![image](https://user-images.githubusercontent.com/71961905/123747050-fb963380-d8e4-11eb-93f1-d5f9c25a3e59.png)

[2021-06-29 06:37] trungng2006 opened #45 "inconsistency between obsidian search results and text expanders for $blocks"
I maxed out delay time at 10000. The obsidian search result stop before the text expander start pasting result, so i dont think this is due to the delay time problem.
![image](https://user-images.githubusercontent.com/71961905/123748714-25505a00-d8e7-11eb-8745-7924563b1792.png)

[2021-06-30 17:57] mrjackphil commented on #44
I think I made it to be part of other sequence. Currently you can do the markdown link.

[code]

I might change the blocks logic in the future when I'll put my hands on it.

[2021-06-30 17:57] mrjackphil commented on #45
There might be changes in search functionality or I missed something.

Currently looks like an issue.

[2021-07-01 06:45] trungng2006 commented on #44
I will note down to use with markdown link. Thank you !

[2021-07-01 06:46] trungng2006 commented on #45
Thank you!

[2021-07-05 01:07] fred1357944 commented on #24
can you show us how to do that? 🚀

[2021-07-08 18:14] vanadium23 opened #46 "Feature request: expand result from obsidian-dataview plugin"
Hello.

There are [plugin](https://github.com/blacksmithgu/obsidian-dataview), that provides more functional for advanced search.
If text expander can use, than it'll be awesome.

[2021-07-10 18:25] alexgeirby commented on #42
Ээх.... Придется, видимо, самому учить TS/JS на старости лет...

[2021-07-18 15:37] Creling opened #47 "[Feature Request] Human readable create time"
Hello, Is it any way to get a hummin readable create time or is it possible to add some format functions for `$created` ? Currently `$created` is not readable :(

[2021-07-21 14:32] mrjackphil commented on #45
@trungng2006 Can you provide a small vault in the zip file where I can reproduce the issue, please?

[2021-07-22 06:15] mrjackphil commented on #45
It just extracts exists blocks from the files it finds.
And you want to add ^blockId to each search match and put them in one place.

That's definitely possible but previously it was important for me to not change other notes from the text-expand plugin.
It may cause data-loss behavior. Especially, since you can't predict the search result precisely. It may spam block IDs even there where you didn

[2021-07-22 06:22] mrjackphil commented on #47
@Creling Added in 0.9.2:
`$created:format` -> `2021-07-22T06:21:34.556Z`
`$created:format:date` -> `2021-07-22`
`$created:format:time` -> `06:21:34`

[2021-07-22 06:22] #47 closed

[2021-07-22 06:23] mrjackphil commented on #42
@alexgeirby Try `$count`. It was added in 0.9.2

[2021-07-22 06:23] #42 closed

[2021-07-25 07:39] alexgeirby opened #48 "Feature Request: Strip Comments Ffor $lines:xxx macro"
Hi! First of all, thank you for $count macro, it works great!

I have another suggestion for implementation. Right now, when I use $lines:XXX macro, it returns XXX first lines from the file except YAML frontmatter block and empty lines at the beginning of the file.  I suggest deleting the multi-line comment as well if it is located at the beginning of the file, i.e. if first line of the file (afte

[2021-08-03 19:52] brozena commented on #24
+1!

This would be very useful.

[2021-08-09 19:27] dariuszkowalski-com opened #49 "Auto expand"
When I have got Auto expand turn on, after loading a md file and an execution of expanded block
the Search form is filled by the last query from expanded block.

I think the plugin  should clear a query and search form should remain empty.

Now it's confusing

[2021-08-11 21:18] chrisgrieser opened #50 "Feature Request: retrieve content of blocks"
Thanks for the plugin!

Right now, we can retrieve block ids, and we can retrieve note content. Is it possible to retrieve content of blocks as well? Like specifically *only the blocks* that match a search.

[code]

This could, for example, only retrieve the *blocks* that have the tag `#test1`.

[2021-09-13 20:52] Parlazo opened #51 "[Problem] Nesting is ugly"
if nested it does ugly things

[code]
[code]
[code]

[2021-09-14 20:35] ShravanSunder commented on #16
that would be amazing

[2021-09-22 05:45] wslldsdhii opened #52 "Return to blocks function with garbled code"
`$blocks` ：Chinese is not supported

![p1](https://raw.githubusercontent.com/wslldsdhii/picgo/main/img/img%E6%88%AA%E5%B1%8F2021-09-22%20%E4%B8%8B%E5%8D%881.40.37.png)

![p2](https://raw.githubusercontent.com/wslldsdhii/picgo/main/img/img%E6%88%AA%E5%B1%8F2021-09-22%20%E4%B8%8B%E5%8D%881.40.58.png)

[2021-10-01 09:19] Armagedoom opened #53 "[ Bug ] Expand query not found"
Hello:

I'm trying to use the plugin but I get the same answer, "Expand query not found", regardless using the examples provided:

![image](https://user-images.githubusercontent.com/4046326/135596409-b1c9d499-9d66-45a5-a008-e5638548874d.png)
(And any other thing I could try got me the same result)

What could I try to fix this? Thank you!

[2021-10-01 09:59] mrjackphil commented on #53
@Armagedoom Hi. Already got that issue. I hope will have some time this weekend to fix this.

[2021-10-01 10:00] mrjackphil commented on #51
Hi, what are the possible scenarios where it can be nested?

[2021-10-01 10:12] Armagedoom commented on #53
Turns out if a parent folder or the current folder of the note has emojis on it, the plugin wont work.
Tested without emojis in the folder names and it works.
This bug affects also the dataview plugin.

[2021-10-01 10:13] Armagedoom commented on #53
Sorry for that, thanks again!

[2021-10-01 11:09] mrjackphil commented on #53
Thanks for details. And for creating and issue!

[2021-10-26 07:55] ooker777 opened #54 "The list includes `desktop`"
For example:
[code]

<li>Cảm xúc sẽ bóp méo thực tại</li>
<li>Chín người mười ý</li>
<li>desktop</li>
<li>Hãy dám biết</li>
<li>Hãy không ngừng chất vấn những quan niệm của mình</li>
<li>Hãy phản tư</li>
<li>Không để cảm xúc chi phối bản thân</li>
<li>Nếu bạn không thể giải thích được cho một đứa trẻ hiểu thì là bạn chưa hiểu đủ</li>
<li>Nếu có thể linh hoạt thì ta có thể đối phó với rủi ro một cá

[2021-10-26 15:18] #54 closed, assigned to nobody

[2021-10-27 18:34] WyldKard opened #55 "[Bug] Cannot limit search to file names"
The plugin descriptions says the plugin, "will search files using Obsidian search functionality..." See: https://help.obsidian.md/Plugins/Search

However, when using the query, "file:(examplequery)", nothing is returned, even though I have filenames that include "examplequery".

[2021-11-01 16:35] WyldKard commented on #55
Played around with this a bit more and it seems I forgot to include the following after my query, so it was embedding the attachments:

[code]

Works now, thank you!

[2021-11-14 10:37] jorgekoronis opened #56 "How can I hide the search request in preview mode?"
Hello
How can I hide the search request in preview mode?
I just want to see the output of the search request in preview mode.
Thanks

[2021-11-14 10:40] mrjackphil commented on #56
Hi, @jorgekoronis . You can use css snippet, something like this:

[code]

[2021-11-14 10:41] mrjackphil commented on #55
Glad it worked for you!

[2021-11-14 10:41] #55 closed

[2021-11-14 11:20] jorgekoronis commented on #56
I tried that out by updating the corresponding CSS file and I reloaded the CSS file. But it does not hide it in preview mode.

[2021-11-17 22:41] quowarranto commented on #50
Second this request. This is the use case that led me to this plugin.

[2021-11-25 22:22] kabo1234 commented on #50
+1 for this!

and even better if the blocks could be retrieved as embeds (rather than copied) or as text+link (eg [[source]]. That way there would be a discernible link to where the block came from.

[2021-12-22 12:44] jrast opened #57 "No Output for path:<directroy> query"
I'm having issues with this plugin as no results are provided with a simple path:directory query. The query works in the Obsidian Search. So any hints what could be the problem?

[2021-12-22 13:18] reministar commented on #57
Did this plugin works before on your device？
I encounter the same issue today, I think it may be caused by the updates of obsidian, the “live preview update”
but there is no difference when I choose the legacy editor mode

hoping for the solution, cause I really like this plugin

[2021-12-22 14:05] jrast commented on #57
I just started using this plugin and obsidian, so I can't tell if it was working before.

[2021-12-23 00:32] reministar commented on #57
I find a way to solve my situation
put the left slide bar on the “ search page” instead of “ File explorer”
and it can work as usual
you could give it a try

[2022-01-03 12:35] Dahlai commented on #57
@reministar : Thanks for pointing this out, I have exactly the same issue, but switching from "file explorer" to "search page" did the trick. I hope this can be resolved.

[2022-01-03 12:38] Dahlai opened #58 "[Problem] text expansion is slow"
Hi,
I'm considering moving my note taking setup to Obsidian. So far, I found your plugin invaluable.
However, running the expansion command is a test vault with just a handful of entries takes ~3-5 seconds.
Is that to be expected or is something wrong on my end?

Thanks a lot for the info.

Cheers

[2022-01-03 12:42] mrjackphil commented on #58
@Dahlai Hi.

You can check the delay option in plugin settings menu.

By default it has 1,5 sec before parsing search results and put the values.

[2022-01-03 12:47] jrast commented on #57
Same behavior here: If the search page is already open the plugin seems to work.

[2022-01-03 12:51] Dahlai commented on #58
Thanks for the quick reply.
I set it to the minimum value of 1000 ms. It seems to improve the situation, but is there any reason why it can't be any lower than this?

[2022-01-08 12:19] andrezgz opened #59 "[BUG] Text expand is not working with Obsidian 0.13.14"
Hello,

This is happening with several plugins nowadays, since Obsidian has been updated to CM6.

When I execute the "expand" command, the previous results are removed, the search is done with the parameters but the new results are not pasted into the editor.

Hope you get the time to fix it, since it's a great feature for Obsidian!

[2022-01-09 02:35] tumber43 commented on #59
Much like andrezgz mentioned, with the last couple Obsidian versions, text expand produces a Null result. I updated to the latest Obsidian installer with a fresh download, and same result. I'm on Version 13.19. I tried disabling all other 3rd party plugins, same result... I tried using the Legacy Editor, same result. I haven't ruled out a cache issue since the legacy editor change.

[2022-01-09 10:05] SenseiBas commented on #50
Thank you so much for this plugin: I would love to see this working with headers as well:
[[mynote#headercontent]]
I love the pasting in this note because I can now use it to publish the embed as html

[2022-01-09 17:55] imeed166 commented on #59
+1 for this

[2022-01-10 08:14] SenseiBas opened #60 "Bug: $header: Will render link and instead of the block content"
![image](https://user-images.githubusercontent.com/97248289/148735161-724a2302-4e59-4eb6-b43c-a9cfb03bdd95.png)

$header: Will render link and instead of the block content
I believe it should extract the block content of this header

[2022-01-15 21:07] bartlomiejnowak94 commented on #57
In my case nothing help. Most of the time the plugin returns nothing. Sometimes returns only the first entry.

[2022-01-17 15:42] calpa commented on #60
Content is expected, but currently link is extracted...

[2022-01-20 01:20] Masktial commented on #59
+1

[2022-01-23 14:32] MILKMILKKING opened #61 "How can I search only the notes that are current, please?"
Thank you for your efforts! How can I search only the notes that are current, please?

[2022-01-23 14:40] MILKMILKKING commented on #61
What I specifically want to ask is how to search out a block citation link for the current note, e.g.
[[note#^bqzwg]]
[[note#^asdfgh]]

[2022-01-24 04:48] tinainsz commented on #59
+1

[2022-01-25 04:13] chenba0 commented on #59
+1

[2022-01-25 04:50] mrjackphil commented on #59
Just for you to know: fixing the plugin is on my list. Need to spend time figuring out how CM6 works and what changed.

Also, the most complex task is time management.

I changed my job from doing frontend. Now I do team management. Need some time to gain experience in new profession and regulate processes in the team.

And will have a second baby, soon.

I hope I will handle all excuses I have to

[2022-01-25 12:16] andrezgz commented on #59
I do understand your life/work pressures and priorities, @mrjackphil. You do this for pleasure and it doesn't pay your monthly bills, as you say.

The CM6 migration broke a lot of plugins and put maintainers in an awkward position. I've applied monkey patches on a few other plugins and shared them to build the definitive solution. I'll try to do the same with Text Expand.

[2022-01-26 03:09] andrezgz commented on #59
Today, when I executed the "expand" command, it worked perfectly. The reason? The "side dock" containing the Search pane was **expanded**. It seems that every time I tried it in the past, it was collapsed. In that moment, the side-dock is expanded and collapsed quickly by the "expand" command and results are not pasted... (sometimes, some results are pasted, not all of them)

I immediately remembe

[2022-03-06 09:17] hujie12306 opened #63 "$header return invalid link"
There is no filename before the header,which means the link is invalid
![image](https://user-images.githubusercontent.com/61086637/156916841-3db3bd9a-342d-484e-b19b-dfcdabcfca43.png)

[2022-03-07 09:20] tinainsz commented on #63
+1

[2022-03-17 11:57] QuaCKeReD commented on #59
Similar issue, still 😟

I found the search pane being open fixing the run of the search by mistake

But, when I run the expand, I now get an error under each file returned, stating that a section (that isnt detailed or requested), cannot be found in the the current file;
![CleanShot 20220317 115611 bKOXcM84](https://user-images.githubusercontent.com/2767970/158803597-30a8eb15-73bb-468c-abbb-4a1487

[2022-03-17 12:06] QuaCKeReD commented on #59
which it seems is related to this;

![CleanShot 20220317 120450 7MnYE3gR](https://user-images.githubusercontent.com/2767970/158804883-9f1fa8be-6baf-4402-92c2-7106a86aea8a.png)

The header link it is using is just a [[header]], not a [[file#header]]

[2022-04-08 08:28] QuaCKeReD commented on #59
Sorry for delay, but solution to my issue is to change output from

`!$header:appd/ps/hsbc/wsit/dsp`

to

`![[$filename]]$header:appd/ps/hsbc/wsit/dsp`

[2022-04-29 13:53] sonsche opened #64 "Request: sequence to return a certain number of characters"
The sequence $lines:## returns too much text for me, since I am searching in big text blocks without line breaks. Too much text seems to break the table syntax. And it often only returns “—” .

Could a sequence be added that only returns a certain number of characters before and after the search term? It would really save me a LOT of time copying and pasting text snippets.

Edit for more info:

Be

[2022-04-30 13:49] mrjackphil commented on #24
Added `$matchline` sequence in `0.10.0`.
Also you can use:

[code]

[2022-04-30 13:49] #24 closed

[2022-04-30 14:02] mrjackphil commented on #64
Update plugin to `0.10.1` and try `$characters:50`.

[2022-04-30 14:21] mrjackphil commented on #63
Should be fixed in `0.10.2`.

[2022-04-30 14:21] #63 closed

[2022-04-30 14:22] mrjackphil commented on #58
Reduced the minimum value for option to 100ms. You can play around with values.

[2022-04-30 14:22] #58 closed

[2022-04-30 14:25] mrjackphil commented on #50
@chrisgrieser You can try to use `$matchline` which will return the matched line.

[2022-04-30 14:37] mrjackphil commented on #61
@MILKMILKKING You can turn off `Exclude current note` option in settings. After that you can specify the note using query `path:NAME_OF_THE_CURRENT_NOTE`.

[2022-04-30 15:06] MILKMILKKING commented on #61
@mrjackphil Can you teach me what the exact search code is?
Specifically, I want to search for passages in the current note that are marked with blockquotes. For example, if a paragraph ends with ^aa111, ^aa222, how can I aggregate these marked paragraphs together and display them as ! [[#^aa111]], ! [[#^aa222]]?
If this could be done, I would be able to put this code at the beginning of the note

[2022-04-30 15:35] mrjackphil commented on #61
@MILKMILKKING Grab latest version of the plugin - **0.10.5**

Let's assume you have file `Untitled.md` with blocks.

And you have blocks in this file:
- One line ^block1
- Another line ^block2

This expand:

[code]

Should provide result as below:
[code]

[2022-04-30 15:39] mrjackphil commented on #53
Can't reproduce the bug anymore. If there any related problems - please, reopen the issue.

[2022-04-30 15:39] #53 closed

[2022-04-30 15:41] mrjackphil commented on #52
@wslldsdhii The behaviour of the `$blocks` sequence was changed. It should fix the bug.
Reopen the issue if there any problems with.

[2022-04-30 15:41] #52 closed

[2022-04-30 15:43] mrjackphil commented on #44
@trungng2006 The behaviour was changed as you expected previously.
So you should redone `![$title]($blocks)` to just `!$blocks`

[2022-04-30 15:43] #44 closed

[2022-04-30 15:45] mrjackphil commented on #50
So, currently you can use:
`$matchline` to get matched line. If you search for `block:` it will retrieve the content of the block.
`$blocks` which will return link to the blocks
`!$blocks` which will return embeds for blocks

If there are still issues with it - please, reopen the issue.

[2022-04-30 15:45] #50 closed

[2022-04-30 16:49] sonsche commented on #64
Thank you for updating it! Unfortunately, now it returns the FIRST 50 characters of the file, not before and after the search term :/

So I mostly get metadata:
![Obs_expand_first characters](https://user-images.githubusercontent.com/104635900/166114741-8abc97ab-ccde-4efb-8e4c-c12bdf64ea66.JPG)

[2022-04-30 17:17] mrjackphil commented on #64
@sonsche Try `$matchline`

[2022-04-30 17:34] sonsche commented on #64
Still not working... Like this?
[code]

[2022-04-30 18:27] mrjackphil commented on #64
@sonsche Can you provide a little `.zip` with minimal reproducible issue?
`$matchline` returns the paragraph which might be not enough for your use case.

You can remove `$characters:50` when you use `$matchline`

[2022-04-30 18:30] mrjackphil commented on #64
I'll keep this issue opened until we can handle this issue.

[2022-04-30 20:23] sonsche commented on #64
Here are a few pages where I've tested `$characters:50`, `$lines:2` and `$matchline`. I tried it out in a new vault without any plugins and unfortunately no luck. And the `$lines:2` output also changed a lot since the update, now giving out lines from the top of the file with metadata.

[expand test.zip](https://github.com/mrjackphil/obsidian-text-expand/files/8597737/expand.test.zip)

Thank you a

[2022-05-01 03:05] trungng2006 commented on #44
Thank you so much!!!

[2022-05-01 08:21] zcysxy opened #65 "Not compatible with blockquote syntax"
I want to use the plugin with Obsidian callouts, which use the blockquote syntax `>`. However, Text Expand use this syntax as a footer. Is there a way to make `>` a literal symbol?

My code:

[code]

Expected output:

[code]

Also, sometimes I want a blank line between links, but blank lines in the code block are not recognized by Text Expand.

[2022-05-01 10:00] mrjackphil commented on #65
@zcysxy Just added ability to change prefixes in settings menu. It lands in **0.10.6** version.
So you can setup your own prefixes for header and footer section.
Reopen the issue if there any problems with it.

[2022-05-01 10:00] #65 closed

[2022-05-01 10:35] mrjackphil commented on #64
@sonsche Just pushed **0.10.7** which has some limit functionality for `$matchline`.

Syntax works like that: `$matchline:2:100` which means:
- grab matched line
- append 2 lines before and after match
- limit each line by 100 symbols

![image](https://user-images.githubusercontent.com/16895902/166142105-21006251-b2d8-4628-a5e6-48ddf7dd8c97.png)

It's very dirty. I should rethink the way this plug

[2022-05-01 11:53] sonsche commented on #64
I am realizing that it might have been a naive to assume that it would be possible to "just print" the context that the original search is showing. Although I admit that my use case might be a bit specific...

The good news: the table looks great now! The bad news: the results don't always show the search result, but probably the beginning of file which is the beginning of the "line". And strangel

[2022-05-01 15:02] mrjackphil commented on #64
@sonsche

**0.10.8** just landed. Try:

[code]

So added the new sequence `$searchresult`.

[2022-05-01 15:39] MILKMILKKING commented on #61
Thanks for your patient reply, I tried it and found two problems.
1. notes with Chinese titles cannot be displayed.
2, with the English title notes, you can show the search results, but it is like this:! (Untitled#^block1)
![image](https://user-images.githubusercontent.com/69726213/166153338-5458bcba-1ea1-491f-a1cc-acaa64fc60f1.png)
![image](https://user-images.githubusercontent.com/69726213/16615

[2022-05-01 15:42] mrjackphil commented on #61
@MILKMILKKING Which plugin version? Can you grab the latest version and try again?

[2022-05-01 15:49] MILKMILKKING commented on #61
Sorry I didn't upgrade just now, I've upgraded to version 0.10.8 now, but the search results are still not perfect.
It now shows the block references in the notes, but there is another problem.
1. some of the block references are not rendered.
2, the split characters keep appearing every time the notes are opened (this should be set by me). But my vision is that there should be only one search res

[2022-05-01 15:54] mrjackphil commented on #61
@MILKMILKKING Oh, wow. Something unusual. Can you provide a small .zip file with reproducible issue?

[2022-05-01 16:03] MILKMILKKING commented on #61
OK, should I send you the test document with questions? How should I send them to you?
This is my setup screen, I have set Line ending to ----, but I don't know why the mark <-->123 keeps appearing.
![image](https://user-images.githubusercontent.com/69726213/166154170-da86f176-92ca-4c90-8a65-84cb19bed7fe.png)
![image](https://user-images.githubusercontent.com/69726213/166154183-32736ead-27ab-4aeb-

[2022-05-01 16:04] MILKMILKKING commented on #61
OK, should I send you the test document with questions? How should I send them to you?
This is my setup screen, I have set Line ending to ----, but I don't know why the mark <-->123 keeps appearing.
![image](https://user-images.githubusercontent.com/69726213/166154170-da86f176-92ca-4c90-8a65-84cb19bed7fe.png)
![image](https://user-images.githubusercontent.com/69726213/166154183-32736ead-27ab-4aeb-

[2022-05-01 16:32] MILKMILKKING commented on #61
I'm very sorry to have taken up so much of your time, after I kept trying, I finally rebooted and found the problem all solved!
All is fine now.
I would like to ask one more question, how can I add a line break to the search results?
This is the search result after reboot, everything is fine.
![image](https://user-images.githubusercontent.com/69726213/166155175-3486c4d5-35a5-4157-85e3-0b903275f33e

[2022-05-01 16:35] MILKMILKKING commented on #61
😂  That will do it.
path:Untitled
- !$blocks

[2022-05-01 16:35] #61 closed

[2022-05-01 17:13] sonsche commented on #64
Brilliant, I can work with this! The table formatting is still wonky (probably nothing to do with the expander), so I will just create a regular list. I can get a week's work done in a day! <3 Thank you so much!

[2022-05-01 17:13] #64 closed

[2022-05-02 08:45] mrjackphil commented on #24
`$searchresult` returns exactly what you can see in Obsidian's search panel.

[2022-05-10 09:46] QuaCKeReD commented on #59
The above issue seems fixed in latest release 😀

[2022-05-10 09:49] QuaCKeReD opened #66 "Enhancement: Make expander revert any changes after completion"
In v0.10.8, the search tab is now opened automatically when expander triggers (understand this is now required since background searches aren't allowed anymore) - great news!!!

However, is it possible for expander to take status of active tab and search field entries BEFORE doing its work, and reverting things back to how they were once it has finished?

[2022-05-10 09:50] QuaCKeReD commented on #60
for content, you need to transclude the header, with '!' prefix

`!$header:#### level 1`

[2022-05-10 10:08] QuaCKeReD opened #67 "Bug: frontmatter sequence doesnt handle nested items"
[code]

Should return
[code]

Instead, it returns
[code]

The '[object Object]' is literal string returned

[2022-05-10 11:47] #59 closed

[2022-05-17 12:28] Devon22 opened #68 "default template"
Thank you for developing this plugin

I would like to ask if there is a way to input multiple lines in the default template?

[2022-05-18 14:29] derekvan opened #69 "Does not expand on mobile"
On iOS, this plugin does not appear to work. I have experimented with moving the delay shorter and longer but I haven’t been able to get an expansion to work.

[2022-06-16 11:35] #68 closed

[2022-06-16 11:36] mrjackphil commented on #60
Changed the README file. Now link is an expected behaviour.

[2022-06-16 11:36] #60 closed

[2022-06-16 11:40] mrjackphil commented on #49
Now plugin tries to restore the state of the left panel (selected tab, content and collapsing).

[2022-06-16 14:31] Devon22 opened #72 "0.11.2 does not work"
Hello, 0.11.2 doesn't seem to work.
Rebooting or reinstalling doesn't help.

[2022-06-17 11:02] mrjackphil commented on #72
@Devon22 Could you provide an error from "Console" tab in inspector (`Ctrl+Shift+I`) when you try to trigger a plugin? Also, which version of Obsidian do you use?

[2022-06-17 11:34] Devon22 commented on #72
Obsidian v0.14.15

[code]

[2022-06-17 12:52] mrjackphil commented on #72
@Devon22 Is there an actual error message at the top of the error stack?

[2022-06-17 12:55] mrjackphil commented on #66
Should be fixed in 0.11.2

[2022-06-17 12:55] #66 closed

[2022-06-17 13:04] mrjackphil commented on #72
Ouch... I forgot about it. Now I get it.

[2022-06-17 13:06] mrjackphil commented on #67
While it didn't fixed you can try use `eta` for those purposes:

[code]

[2022-06-17 13:08] mrjackphil commented on #4
I'm closing this issue. Feel free to reopen this one or create another more specific issue.

[2022-06-17 13:08] #4 closed

[2022-06-17 15:42] QuaCKeReD commented on #67
is that templater code?

How do I 'use' that?

[2022-06-17 17:12] mrjackphil commented on #67
@QuaCKeReD That's from **0.11.2**

[code]
[code]

[2022-06-23 08:03] EhuddR opened #73 "[Feature Request] Get a specific line of a file?"
Hi!
I would like to know if you can get as a search result a specific line of a note. At the moment the `$line` argument returns the entire contents of the note, likewise, using `$lines:10` returns the first 10 lines of the file. It would be helpful if you could get a specific line using something like `$line:9:9` so that you get as result the line 9 of the file. I tend to take a lot of notes with

[2022-06-23 10:11] mrjackphil commented on #73
Hi @EhuddR. While you can't do that by sequences you can do that using eta template.

[code]

[2022-07-15 01:44] JuanCldCmt commented on #72
Hello, I got the same error, but the search bar is placed at the default location:

![image](https://user-images.githubusercontent.com/72336775/179128983-c692f852-6b21-4618-bf65-8bb0acf18723.png)

and the console doesn't show any error messages

Obsidian 0.15.6, Linux appimage version
Text expand 0.11.2

[2022-07-15 10:33] Devon22 opened #74 "Can it be changed to add blank lines before and after the content?"
Can it be changed to add blank lines before and after the content?

The previous version 0.10.8 would automatically generate blank lines, but this feature disappeared in the new version.

[2022-07-16 07:44] zcysxy commented on #69
Same bug

[2022-07-17 15:58] zcysxy commented on #69
Hi @mrjackphil, after some experiments using BRAT and mobile emulation on a Mac, I found that

* v0.9.0 works fine on mobile. but after this version, the command `text expand: expand` no longer writes the result.
* v0.9.1 and v0.9.2 don't work, but they don't output any error.
* Since v0.9.3, after executing `text expnad: expand`, an error occurs. The error log is attached.

[code]

[2022-07-29 11:04] dentistfrankchen opened #75 "[A special thank]"
I really want to say this plugin helps me a lot. This plugin can be used for an alternative way to paste result, which does not meet my needs.
Thank you to all contributors.

[2022-07-30 06:22] dentistfrankchen opened #76 "[feature request]Add some basic replacement"
So far this plugin has shown to be very great. However, I hope you can add some replacement for it.
For example I get:
1.yyy*
2.uii*
…
I hope I can replace all * with blank since I do not want them. Also, this feature can be used to change format.

Hope it can look like:
[code]

[2022-07-30 06:27] #75 closed

[2022-07-31 00:59] dentistfrankchen commented on #76
Also I want to point out that this is for the result, not for the original place.

[2022-08-27 05:29] YicanPeng opened #77 "Timestamp issue"
Can the $created results be transformed to a moment.js date format? Or the users should be given a transform option.

[2022-10-18 20:09] GrantsTracks2121 commented on #74
I'm testing MkDocs as a way to generate HTML pages from my Obsisidian notes. And I'm looking at the "expander" plugin as a way to write search results in table format directly into the my notes to serve as links to pages with similar concepts. BUT MkDocs requires a blank line inserted before a table in order for it to be rendered as and HTML table. I can't find a way to insert a blank line in the

[2022-10-19 06:46] mrjackphil commented on #74
@Devon22 @GrantsTracks2121 Could you provide template examples and source data examples to understand your specific case?

[2022-10-19 06:58] mrjackphil commented on #73
Anyone feel free to reopen the issue if there are still enough cases for this feature.

[2022-10-19 06:58] #73 closed

[2022-10-19 08:00] mrjackphil commented on #76
Feel free to reopen this issue if there are more questions!

[2022-10-19 08:00] #76 closed

[2022-11-13 15:50] mmdzt commented on #72
To make it more specific: not work when search panel didn't placed in left up panel.

Here is an example, and this does not work

<img width="721" alt="image" src="https://user-images.githubusercontent.com/90957271/201530859-cbecec08-2e6c-4f0e-994e-ae45efe5120c.png">

[2022-11-19 01:44] TrustTepee commented on #74
Just paste in some blankㅤ characters in the template . Can't paste them here for some reason but you can find them by googling.